/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Classes */
.poppins-extrabold { font-family: "Poppins", sans-serif; font-weight: 800; }

/* body */
body {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px; /* Base font size for rem units */
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #75cbc9;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 0.5rem 1rem;
}

.icons {
  max-height: 1.5rem; /* Adjusted to rem */
  border-radius: 2px;
}

.links {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Contenido del Main */

h1{
  text-align: center;
  font-weight: 900;
  padding: 2rem 1rem;
}

h2{
  text-align: center;
  padding: 2rem 1rem;
  font-weight: 800;
}

body section div div p{
  font-weight: 700;
}

body section div div{
  place-items: center;
}

.main {
  position: relative;
  padding: 2rem 1rem 1rem; 
}

.main-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem; 
}


main p {
  font-weight: 700; 
  line-height: 1.5;
}


/* Footer */
footer {
  background-color: #0394e8;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-weight: bold;
}


/*Estilos para Tecnologia.HTML*/

.titulo {
  text-align: center;
}

.main-tec {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1%; 
  padding: 2%; 
}

.progreso, .prox, .cursos {
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center; 
}
.progreso-images, .prox-images, .cursos-images {
  display: flex; 
  justify-content: center; 
  flex-wrap:wrap; 
}

.progreso img, .prox img, .cursos img {
  width: 100px; 
  height: auto; 
  margin: 2%; 
}

.proyects img {
  max-width: 50%;
  height: auto;
  border-radius: 1%;
}

/* estilos para proyectos.html*/

.titulo {
  text-align: center;
}

.container {
  margin-bottom: 1rem; 

}

.card{
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.card-img-top{
  max-width: 40%  ;
}

.no-bg {
  background-color: transparent; 
}



/* Media Queries */

/* Estilos Mobile */
@media (max-width: 767px) {
  .header-tec .navbar-nav {
    flex-direction: column;
  }

  .header-tec .navbar-nav .nav-item {
    margin: 0.5rem 0;
  }

  h1.devWeb {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem; 
  }

  .text h2 {
    font-size: 1.5rem;
  }

  main p {
    font-size: 0.875rem;
    margin: 2rem;
  }

  
  form {
    width: 100%;   
    padding: 8%;
  }
  form h1{
    text-align: center;
    text-transform: uppercase;
  }

  form input{
    width: 100%;
    margin: 0.5%;
  }

  form textarea{
    width: 100%;
    margin: 0.5%;
  }

  form #enviar {
    background-color: #0093E9;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .main-content {
    flex-direction: column;
  }

  .main-content .text {
    text-align: center;
  }

  .main-content .avatar-img {
    margin-top: 1rem;
  }
}

.main-section-img {
  width: 30%;
  border-radius: 50%;
}

.main-tec {
  grid-template-columns: 1fr; 
}

.col-md-4 {
  flex: 0 0 100%; 
  max-width: 100%;
}



  .avatar-img {
    max-width: 12rem; 
  }

  .main {
    padding: 2rem 1rem; 
  }

  .main-content {
    grid-template-columns: 1fr; 
  }

/* Estilos Tablets */

@media (min-width: 768px) {
  .icons {
    max-height: 1.875rem; 
  }

  h1.devWeb {
    font-size: 2rem;
  }

  main p {
    font-size: 1rem;
    margin: 2rem;
  }

  .avatar-img {
    max-width: 15rem; 
  }

  form {
    width: 100%;   
    padding: 8%;
  }
  form h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }

  form input{
    width: 100%;
    margin: 0.5%;
  }

  form textarea{
    width: 100%;
    margin: 0.5%;
  }

  form #enviar {
    background-color: #0093E9;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .main-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-content .text {
    text-align: left;
    margin-right: 2rem;
  }

  .main-content .avatar-img {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  h1.devWeb {
    font-size: 2.5rem;
  }

  main p {
    font-size: 1.125rem;
  }

  .avatar-img {
    max-width: 25rem; 
  }


  form {
    width: 100%;   
    padding: 8%;
  }
  form h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }

  form input{
    width: 100%;
    margin: 0.5%;
  }

  form textarea{
    width: 100%;
    margin: 0.5%;
  }

  form #enviar {
    background-color: #0093E9;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .main-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-content .text {
    max-width: 50%;
  }

  .main-content .avatar-img {
    max-width: 40%;
    height: auto;
  }
}
